.container {
    width: 80%;
    top: 0px;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    top: 60px;
    position: relative;
    height: 560px;

}

.heading {
    width: 350px;
    font-size: 25px;
    color: white;
    font-weight: bold;

}

.btn-join-now {
    color: white;
    /* padding-left: 1rem;
        padding-right: 1rem; */
    font-weight: bolder;
    font-size: 14px;
    border-radius: 25px;
    background-image: linear-gradient(72deg, #FFFF00, #FB6D48);
    padding: 20px, 40px, 21px, 40px;
    width: 100px;
    height: 40px;
    /* background-color: rgb(245, 205, 7); */
    border-radius: 9999PX;
    align-content: center;
}

.para {
    width: 260px;

}

.number {
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.text {
    font-size: 13px;
}